.list-input{
    background:transparent;
    border:none;
    border-bottom: 1px dashed #eee;
    min-width: 275px;
    outline: none;
    padding: 0 5px 0 5px;
    font-style: italic;
    margin-right:10px;
}
.btn-add{
    height:30px;
    padding: 0 8px 0 8px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: rgba(192,192,192, 0.6);
}
.btn-add:hover{
    background: rgba(255, 255, 255, 0.6);
    color:gray;
}



